In [1]:
import pandas as pd
import numpy as np
import geopandas as gp
import matplotlib.pylab as pl
from fiona.crs import from_epsg
import fiona
from matplotlib import colors
import shapely
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
import matplotlib.cm as cm
from matplotlib.colors import ListedColormap    
%matplotlib inline
pd.set_option('display.height',1000)
pd.set_option('display.max_row',500)
pd.set_option('display.max_columns',500)
pd.set_option("display.width", 1000)

height has been deprecated.

### Objective
The objective of this notebook is to aggregate the data from the Census Bureau by Water District

In [2]:
bg10 = gp.GeoDataFrame.from_file('../Data/GeoData/BG2010/tl_2010_06_bg10_Complete_Solved_Overlaps.geojson')
print bg10.shape
bg10.head(1)

(23212, 16)

   ALAND10  AWATER10 BLKGRPCE10 COUNTYFP10 FUNCSTAT10       GEOID10   INTPTLAT10    INTPTLON10 MTFCC10     NAMELSAD10 PWSID PWSID_str STATEFP10 TRACTCE10                                           geometry id
0  1570668         0          3        053          S  060530107013  +36.6007541  -121.7026925   G5030  Block Group 3  None      None        06    010701  POLYGON ((-121.695295 36.611978, -121.695835 3...  0

In [3]:
wa_d = gp.GeoDataFrame.from_file('../Data/Supplier/suppliers.geojson')
print wa_d.shape
wa_d.head(3)

(410, 16)

   cartodb_id            city          county detailed_c  displayed general_ch                                          geom_3310                                           geometry  gid  parcels_in      pwsid reference  sbx7_7_tar                                         supplier_n  to_be_proc  utility_id
0         219                                                     1        N/A  0106000020EE0C00000100000001030000000100000069...  (POLYGON ((-122.000388 37.34519, -122.000371 3...   78           0  CA4310001                     1  California Water Service Company Los Altos/Sub...           0         227
1          10  SAN BERNARDINO  SAN BERNARDINO                     1        N/A  0106000020EE0C0000040000000103000000010000000B...  (POLYGON ((-117.40553 34.22197, -117.40553 34....  165           0  CA3610039                     1                            San Bernardino  City of           0           9
2         228     SANTA CLARA     SANTA CLARA                     1        N/A  0106000020EE0C000001000000010300000001000000FE...  (POLYGON ((-121.986149 37.412066, -121.985204 ...  170           0  CA4310012                     1                               Santa Clara  City of           0         236

### Methodology
Census Data by BlockGroup in California:
- Household Income
- Race
- Education Level

The methodology consists in merging the census data with the data generated in the previous notebook, adding the PWSID (assigned water district) as a column that describes the blockgroups. This allows to group the Census Data by Water District. The aggregated data is saved as geojson file having as well the shape from each water district. The process is repeated in each of the 3 variables downloaded from Fact Finder.

In [4]:
#Downloaded from Census Bureau Fact Finder
house_income = pd.read_csv('Census_Data/Household_Income/ACS_16_5YR_B19001/ACS_16_5YR_B19001_with_ann.csv', header=1)
print house_income.shape

house_income['GEOID10'] = house_income.Id.apply(lambda x: x[9:])
house_income.drop(['Id','Id2'],inplace=True, axis=1)
house_income = house_income.merge(bg10[['GEOID10','PWSID','PWSID_str']], on ='GEOID10', how='left')
house_income_byWaD = house_income.groupby('PWSID').sum()
print house_income_byWaD.shape

house_income_byWaD.reset_index(inplace=True)
wa_d.rename(columns={'pwsid':'PWSID'},inplace=True)
house_income_byWaD = house_income_byWaD.merge(wa_d[['PWSID','supplier_n','geometry']], on='PWSID',how='left')
house_income_byWaD = gp.GeoDataFrame(house_income_byWaD[:-1], geometry='geometry')
perhouse = [ 'Margin of Error; Total:',
 'Estimate; Total: - Less than $10,000',
 'Margin of Error; Total: - Less than $10,000',
 'Estimate; Total: - $10,000 to $14,999',
 'Margin of Error; Total: - $10,000 to $14,999',
 'Estimate; Total: - $15,000 to $19,999',
 'Margin of Error; Total: - $15,000 to $19,999',
 'Estimate; Total: - $20,000 to $24,999',
 'Margin of Error; Total: - $20,000 to $24,999',
 'Estimate; Total: - $25,000 to $29,999',
 'Margin of Error; Total: - $25,000 to $29,999',
 'Estimate; Total: - $30,000 to $34,999',
 'Margin of Error; Total: - $30,000 to $34,999',
 'Estimate; Total: - $35,000 to $39,999',
 'Margin of Error; Total: - $35,000 to $39,999',
 'Estimate; Total: - $40,000 to $44,999',
 'Margin of Error; Total: - $40,000 to $44,999',
 'Estimate; Total: - $45,000 to $49,999',
 'Margin of Error; Total: - $45,000 to $49,999',
 'Estimate; Total: - $50,000 to $59,999',
 'Margin of Error; Total: - $50,000 to $59,999',
 'Estimate; Total: - $60,000 to $74,999',
 'Margin of Error; Total: - $60,000 to $74,999',
 'Estimate; Total: - $75,000 to $99,999',
 'Margin of Error; Total: - $75,000 to $99,999',
 'Estimate; Total: - $100,000 to $124,999',
 'Margin of Error; Total: - $100,000 to $124,999',
 'Estimate; Total: - $125,000 to $149,999',
 'Margin of Error; Total: - $125,000 to $149,999',
 'Estimate; Total: - $150,000 to $199,999',
 'Margin of Error; Total: - $150,000 to $199,999',
 'Estimate; Total: - $200,000 or more',
 'Margin of Error; Total: - $200,000 or more']

for col in perhouse:
    house_income_byWaD['Per_'+col] = (house_income_byWaD[col]/house_income_byWaD['Estimate; Total:'])*100
    
for WD in house_income_byWaD.index:
    for i in range(len(perhouse[1::2])):
        if house_income_byWaD.loc[WD][perhouse[1::2][:i]].sum() >= (house_income_byWaD.loc[WD,'Estimate; Total:']/float(2)):
            house_income_byWaD.loc[WD,'Median Household Income'] = perhouse[1::2][i]
            house_income_byWaD.loc[WD,'Median Household Income Count'] = (house_income_byWaD.loc[WD][perhouse[1::2][:i]].sum()/float(house_income_byWaD.loc[WD,'Estimate; Total:']))*100
            break
with open('../Data/Supplier/Household_Income_Water_District.geojson', 'w') as f:
    f.write(house_income_byWaD.to_json())

(23212, 37)
(402, 34)

In [5]:
#Downloaded from Census Bureau Fact Finder
race = pd.read_csv('Census_Data/Race/ACS_16_5YR_B02001/ACS_16_5YR_B02001_with_ann.csv', header=1)
print race.shape
race['GEOID10'] = race.Id.apply(lambda x: x[9:])
race.drop(['Id','Id2'],inplace=True, axis=1)
race = race.merge(bg10[['GEOID10','PWSID','PWSID_str']], on ='GEOID10', how='left')
race_byWaD = race.groupby('PWSID').sum()
print race_byWaD.shape
race_byWaD.reset_index(inplace=True)

race_byWaD = race_byWaD.merge(wa_d[['PWSID','supplier_n','geometry']], on='PWSID',how='left')
race_byWaD = gp.GeoDataFrame(race_byWaD[:-1], geometry='geometry')
race_byWaD['Estimate; Total: - Other'] = race_byWaD.iloc[::,13:-2:2].sum(axis=1)
race_byWaD['Margin of Error; Total: - Other'] = race_byWaD.iloc[::,14:-2:2].sum(axis=1)
forper = ['Margin of Error; Total:',
 'Estimate; Total: - White alone',
 'Margin of Error; Total: - White alone',
 'Estimate; Total: - Black or African American alone',
 'Margin of Error; Total: - Black or African American alone',
 'Estimate; Total: - American Indian and Alaska Native alone',
 'Margin of Error; Total: - American Indian and Alaska Native alone',
 'Estimate; Total: - Asian alone',
 'Margin of Error; Total: - Asian alone',
 'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
 'Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone',
 'Estimate; Total: - Other',
 'Margin of Error; Total: - Other']
for col in forper:
    race_byWaD['Per_'+col] = (race_byWaD[col]/race_byWaD['Estimate; Total:'])*100
with open('../Data/Supplier/Race_Water_District.geojson', 'w') as f:
    f.write(race_byWaD.to_json())

(23212, 23)
(402, 20)

In [6]:
#Downloaded from Census Bureau Fact Finder
edu = pd.read_csv('Census_Data/Education/ACS_16_5YR_B15002/ACS_16_5YR_B15002_with_ann.csv', header=1)
print edu.shape
edu['GEOID10'] = edu.Id.apply(lambda x: x[9:])
edu.drop(['Id','Id2'],inplace=True, axis=1)
edu = edu.merge(bg10[['GEOID10','PWSID','PWSID_str']], on ='GEOID10', how='left')
edu_byWaD = edu.groupby('PWSID').sum()
print edu_byWaD.shape
edu_byWaD.reset_index(inplace=True)
#wa_d.rename(columns={'pwsid':'PWSID'},inplace=True)
edu_byWaD = edu_byWaD.merge(wa_d[['PWSID','supplier_n','geometry']], on='PWSID',how='left')
edu_byWaD = gp.GeoDataFrame(edu_byWaD[:-1], geometry='geometry')
forman = ['Margin of Error; Male:',
 'Estimate; Male: - No schooling completed',
 'Margin of Error; Male: - No schooling completed',
 'Estimate; Male: - Nursery to 4th grade',
 'Margin of Error; Male: - Nursery to 4th grade',
 'Estimate; Male: - 5th and 6th grade',
 'Margin of Error; Male: - 5th and 6th grade',
 'Estimate; Male: - 7th and 8th grade',
 'Margin of Error; Male: - 7th and 8th grade',
 'Estimate; Male: - 9th grade',
 'Margin of Error; Male: - 9th grade',
 'Estimate; Male: - 10th grade',
 'Margin of Error; Male: - 10th grade',
 'Estimate; Male: - 11th grade',
 'Margin of Error; Male: - 11th grade',
 'Estimate; Male: - 12th grade, no diploma',
 'Margin of Error; Male: - 12th grade, no diploma',
 'Estimate; Male: - High school graduate (includes equivalency)',
 'Margin of Error; Male: - High school graduate (includes equivalency)',
 'Estimate; Male: - Some college, less than 1 year',
 'Margin of Error; Male: - Some college, less than 1 year',
 'Estimate; Male: - Some college, 1 or more years, no degree',
 'Margin of Error; Male: - Some college, 1 or more years, no degree',
 "Estimate; Male: - Associate's degree",
 "Margin of Error; Male: - Associate's degree",
 "Estimate; Male: - Bachelor's degree",
 "Margin of Error; Male: - Bachelor's degree",
 "Estimate; Male: - Master's degree",
 "Margin of Error; Male: - Master's degree",
 'Estimate; Male: - Professional school degree',
 'Margin of Error; Male: - Professional school degree',
 'Estimate; Male: - Doctorate degree',
 'Margin of Error; Male: - Doctorate degree']
forwoman = [
 'Margin of Error; Female:',
 'Estimate; Female: - No schooling completed',
 'Margin of Error; Female: - No schooling completed',
 'Estimate; Female: - Nursery to 4th grade',
 'Margin of Error; Female: - Nursery to 4th grade',
 'Estimate; Female: - 5th and 6th grade',
 'Margin of Error; Female: - 5th and 6th grade',
 'Estimate; Female: - 7th and 8th grade',
 'Margin of Error; Female: - 7th and 8th grade',
 'Estimate; Female: - 9th grade',
 'Margin of Error; Female: - 9th grade',
 'Estimate; Female: - 10th grade',
 'Margin of Error; Female: - 10th grade',
 'Estimate; Female: - 11th grade',
 'Margin of Error; Female: - 11th grade',
 'Estimate; Female: - 12th grade, no diploma',
 'Margin of Error; Female: - 12th grade, no diploma',
 'Estimate; Female: - High school graduate (includes equivalency)',
 'Margin of Error; Female: - High school graduate (includes equivalency)',
 'Estimate; Female: - Some college, less than 1 year',
 'Margin of Error; Female: - Some college, less than 1 year',
 'Estimate; Female: - Some college, 1 or more years, no degree',
 'Margin of Error; Female: - Some college, 1 or more years, no degree',
 "Estimate; Female: - Associate's degree",
 "Margin of Error; Female: - Associate's degree",
 "Estimate; Female: - Bachelor's degree",
 "Margin of Error; Female: - Bachelor's degree",
 "Estimate; Female: - Master's degree",
 "Margin of Error; Female: - Master's degree",
 'Estimate; Female: - Professional school degree',
 'Margin of Error; Female: - Professional school degree',
 'Estimate; Female: - Doctorate degree',
 'Margin of Error; Female: - Doctorate degree']

for col in forman:
    edu_byWaD['Per_'+col] = (edu_byWaD[col]/edu_byWaD['Estimate; Male:'])*100
for col in forwoman:
    edu_byWaD['Per_'+col] = (edu_byWaD[col]/edu_byWaD['Estimate; Female:'])*100

for WD in edu_byWaD.index:
    for i in range(len(forman[1::2])):
        if edu_byWaD.loc[WD][forman[1::2][:i]].sum() >= (edu_byWaD.loc[WD,'Estimate; Male:']/float(2)):
            edu_byWaD.loc[WD,'Median Education Male Level'] = forman[1::2][i]
            edu_byWaD.loc[WD,'Median Education Male Count'] = edu_byWaD.loc[WD][forman[1::2][:i]].sum()
            break
    for i in range(len(forwoman[1::2])):
        if edu_byWaD.loc[WD][forwoman[1::2][:i]].sum() >= (edu_byWaD.loc[WD,'Estimate; Female:']/float(2)):
            edu_byWaD.loc[WD,'Median Education Female Level'] = forwoman[1::2][i]
            edu_byWaD.loc[WD,'Median Education Female Count'] = edu_byWaD.loc[WD][forwoman[1::2][:i]].sum()
            break
    for i in range(len(forman[1::2])):
        if edu_byWaD.loc[WD][forman[1::2][:i] + forwoman[1::2][:i]].sum() >= (edu_byWaD.loc[WD,'Estimate; Total:']/float(2)):
            edu_byWaD.loc[WD,'Median Education Total Level'] = forman[1::2][i].replace('Male','Total')
            edu_byWaD.loc[WD,'Median Education Total Count'] = edu_byWaD.loc[WD][forman[1::2][:i] + forwoman[1::2][:i]].sum()
            break

with open('../Data/Supplier/Education_Water_District.geojson', 'w') as f:
    f.write(edu_byWaD.to_json())

(23212, 73)
(402, 70)